.h2Style {
    color: #2c5364; font-weight: 500;font-size: 18px;padding-bottom: 5px;
}

.pStyle {
    color: black; font-size: 16px;
}

.form-group {
    padding: 8px;
    border: 2px solid #b2c0c6;
    border-radius: 5px;
    margin: 8px;
    width: 100%;
}
.form-group > label {
    position: absolute;
    top: -1px;
    left: 20px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    color: #2c5364;
    font-size: 18px;
    font-weight: 500;
}

.form-group > input {
    border: none;
}
.form-group > textarea {
    border: none;
}
ion-row{
    width: 100%;
}
ion-item{
    margin-right: -5px;
}
ion-select {
    max-width: 100%;
    width: 100%;
    // margin-left: 33%;
}
.form-control[readonly] {
    background-color: #ffffff;
    // opacity: 1;
}