<input id="uploadBtnEdit"
  accept="image/*, .pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  type="file" multiple [(ngModel)]="fileTextValueFinal" [ngModelOptions]="{standalone: true} "
  (change)="_fileBrowseHandlerFinal($event.target)" style="position:absolute; top:-100px;">
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/idea/menu/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md">
      {{allData.reqNum}}
      <!-- IDEA Title -->
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="_showInfo()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
      <ng-container *ngIf="allData.showEditContainer == false">
        <ion-button (click)="_editDetails()" *ngIf="allData.isAdmin == true">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ng-container>
      <ion-button (click)="_editDetails()" *ngIf="allData.showEditContainer == true">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="bar-light bar-subheader" mode="ios" *ngIf="allData.showEditContainer == true">
    <ion-segment [(ngModel)]="section" (ionChange)="segmentChanged($event)" mode="ios">
      <ion-segment-button value="desc">
        <ion-label>Description</ion-label>
      </ion-segment-button>
      <ion-segment-button value="add">
        <ion-label>Add File & Parts</ion-label>
      </ion-segment-button>
      <ion-segment-button value="idea">
        <ion-label>IDEA Details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-list lines="none" *ngIf="allData.showEditContainer == false">
    <ion-item>
      <ion-label>
        <h2 class="h2Style">IDEA Description</h2>
        <p class="pStyle">{{allData.detailedData.IID_IDEA_DESCRIPTION}}</p>
      </ion-label>
    </ion-item>
    <ion-item style="padding-bottom: 8px;">
      <ion-label>
        <h2 class="h2Style">Approx. Savings (RS./Veh)</h2>
        <p class="pStyle">
          {{allData.detailedData.IID_APP_SAVINGS ? allData.detailedData.IID_APP_SAVINGS : 'N/A'}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding">
      <div class="form-group">
        <label>Attach Files</label>
        <ion-list lines="inset" style="padding: 0px;">
          <ng-container *ngIf="allData.filesArray.length > 0">
            <ion-item *ngFor="let file of allData.filesArray; let i=index;" style="padding: 0px;">
              <ion-label>{{file.file_name}}</ion-label>
              <!-- <ion-icon slot="primary" name="cloud-download-outline"></ion-icon> -->
              <ion-button *ngIf="file.prm_key != undefined" class="ion-no-padding" size="small" fill="clear"
                (click)="_downloadFile(file)">
                <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="allData.filesArray.length == 0">
            <ion-item style="padding: 0px;">
              <!-- <ion-label>N/A</ion-label> -->
              <ion-label>&nbsp;</ion-label>

            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <div class="form-group">
        <label>Add Part Number</label>
        <ion-list lines="inset" style="padding: 0px;">
          <ng-container *ngIf="allData.partsAddArray.length > 0">
            <ion-item *ngFor="let part of allData.partsAddArray" style="padding: 0px;">
              <ion-label>{{part.part_name}}</ion-label>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="allData.partsAddArray.length == 0">
            <ion-item style="padding: 0px;">
              <!-- <ion-label>N/A</ion-label> -->
              <ion-label>&nbsp;</ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <div class="form-group">
        <label>Delete Part Number</label>
        <ion-list lines="inset" style="padding: 0px;">
          <ng-container *ngIf="allData.partsModArray.length > 0">
            <ion-item *ngFor="let part of allData.partsModArray" style="padding: 0px;">
              <ion-label>{{part.part_name}}</ion-label>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="allData.partsModArray.length == 0">
            <ion-item style="padding: 0px;">
              <!-- <ion-label>N/A</ion-label> -->
              <ion-label>&nbsp;</ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <div class="form-group">
        <label>Model Applicability</label>
        <ion-list lines="inset" style="padding: 0px;">
          <ng-container *ngIf="allData.modelAppArray.length > 0">
            <ion-item *ngFor="let model of allData.modelAppArray" style="padding: 0px;">
              <ion-label>{{model.model_name}}</ion-label>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="allData.modelAppArray.length == 0">
            <ion-item style="padding: 0px;">
              <!-- <ion-label>N/A</ion-label> -->
              <ion-label>&nbsp;</ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <div class="form-group">
        <label>Additional Fields</label>
        <ion-list lines="inset" class="ion-no-padding">
          <ng-container *ngIf="allData.fieldsArray.length > 0">
            <ion-item *ngFor="let field of allData.fieldsArray; let i = index;" class="ion-no-padding">
              <ion-row>
                <ion-col size="6">
                  <select class="form-select form-select-sm" #row4 [id]="'row4'+i" aria-label=".form-select-sm example"
                    [(ngModel)]="field.field_id" [ngModelOptions]="{standalone: true}" disabled>
                    <option selected value="">Select Field</option>
                    <option *ngFor="let item of allData.configValues;" [value]="item.LMF_ID">{{item.LMF_DESC}}
                    </option>
                  </select>
                </ion-col>
                <ion-col size="6">
                  <input class="form-control form-control-sm" type="text" [value]="field.value" id="field.value"
                    [(ngModel)]="field.value" [ngModelOptions]="{standalone: true}" placeholder="Enter Value" disabled>
                </ion-col>
              </ion-row>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="allData.fieldsArray.length == 0">
            <ion-item style="padding: 0px;">
              <!-- <ion-label>N/A</ion-label> -->
              <ion-label>&nbsp;</ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2 class="h2Style">IDEA Resource</h2>
        <p class="pStyle">
          {{allData.detailedData.IID_IDEA_RESOURCE ? allData.detailedData.IID_IDEA_RESOURCE : 'N/A'}}</p>
      </ion-label>
    </ion-item>
    <ion-item style="padding-bottom: 8px;">
      <ion-label>
        <h2 class="h2Style">Approx. Weight Reduction</h2>
        <p class="pStyle">
          {{allData.detailedData.IID_APP_WT_REDUCTION ? allData.detailedData.IID_APP_WT_REDUCTION : 'N/A'}}</p>
      </ion-label>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-item>
            <ion-label>
              <h2 class="h2Style">IDEA Category</h2>
              <p class="pStyle">
                {{allData.detailedData.IGPCAT ? allData.detailedData.IGPCAT : 'N/A'}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item>
            <ion-label>
              <h2 class="h2Style">If Category is Others</h2>
              <p class="pStyle">
                {{allData.detailedData.IID_IDEA_CAT_OTH ? allData.detailedData.IID_IDEA_CAT_OTH : 'N/A'}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-item>
            <ion-label>
              <h2 class="h2Style">Vehicle Platform</h2>
              <p class="pStyle">{{allData.detailedData.VECHPLATF}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item>
            <ion-label>
              <h2 class="h2Style">Applicable System</h2>
              <p class="pStyle">
                {{allData.detailedData.APPLSYS ? allData.detailedData.APPLSYS : 'N/A'}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2 class="h2Style">Mobile Number</h2>
        <p class="pStyle">
          {{allData.detailedData.IID_MOBILE_NUMBER ? allData.detailedData.IID_MOBILE_NUMBER : 'N/A'}}</p>
      </ion-label>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label>
        <h2 class="h2Style">IDEA Generator Token</h2>
        <p class="pStyle">{{allData.detailedData.IID_IDEA_GEN_TOKEN_NO}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2 class="h2Style">IDEA Generator Name</h2>
        <p class="pStyle">{{allData.detailedData.IID_IDEA_GEN_NAME}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2 class="h2Style">IDEA Generator E-mail</h2>
        <p class="pStyle">{{allData.detailedData.IID_IDEA_GEN_EMAIL}}</p>
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-item>
            <ion-label>
              <h2 class="h2Style">IDEA Date</h2>
              <p class="pStyle">{{allData.detailedData.IID_CREATED_ON | date:'mediumDate'}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding ion-text-right">
          <ion-item>
            <ion-label>
              <h2 class="h2Style">VECP Number</h2>
              <p class="pStyle">
                {{allData.detailedData.VECPNUMBER ? allData.detailedData.VECPNUMBER : 'N/A'}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>


  <!--Editable Form-->
  <div [ngSwitch]="section" *ngIf="allData.showEditContainer == true">
    <form style="padding-top: 20px;" *ngSwitchCase="'desc'">
      <ion-list lines="none">
        <ion-item>
          <div class="form-group">
            <label>Request Number</label>
            <input type="text" class="form-control input-lg" [(ngModel)]="allData.reqNum" name="reqNum" disabled />
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>IDEA Description<span style="color: red;">*</span></label>
            <textarea rows="3" type="text" class="form-control input-lg" [(ngModel)]="allData.ideaDesc"
              name="ideaDesc"></textarea>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Approx. Savings (RS./Veh)</label>
            <input type="number" class="form-control input-lg" [(ngModel)]="allData.approxSavings"
              name="approxSavings" />
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Approx. Weight Reduction</label>
            <input type="text" class="form-control input-lg" [(ngModel)]="allData.approxWeight" name="approxWeight" />
          </div>
        </ion-item>

      </ion-list>
    </form>
    <form style="padding-top: 20px;" *ngSwitchCase="'add'">
      <ion-list lines="none">

        <ion-item>
          <div class="form-group">
            <label>Attach Files</label>
            <ion-list lines="inset" class="ion-no-padding">
              <ng-container *ngIf="allData.filesArray.length > 0">
                <ion-item *ngFor="let file of allData.filesArray; let i = index;">
                  <ion-row>
                    <ion-col size="10" class="ion-no-padding">
                      <ion-label>{{file.file_name}}</ion-label>
                    </ion-col>
                    <ion-col size="1" class="ion-no-padding">
                      <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_deleteFile(i)">
                        <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                      </ion-button>
                    </ion-col>
                    <ion-col size="1" class="ion-no-padding">
                      <ion-button *ngIf="file.prm_key != undefined" class="ion-no-padding" size="small" fill="clear"
                        (click)="_downloadFile(file)">
                        <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ng-container>
              <ion-item class="ion-no-padding">
                <input type="text" class="form-control input-lg" placeholder="Attach Files"
                  style="border: none; box-shadow: none;" readonly />
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_openModalXlsx()">
                  <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Add Part Number</label>
            <ion-list lines="inset" style="padding: 0px;">
              <ion-item *ngFor="let part of allData.partsAddArray; let i = index;" style="padding: 0px;">
                <input type="text" #row class="form-control input-lg" placeholder="Enter New Part Number & Description"
                  style="border: none; box-shadow: none; padding: 0px;" [(ngModel)]="part.part_name"
                  [ngModelOptions]="{standalone: true}" />
                <ion-button class="ion-no-padding" *ngIf="part.part_name != ''" size="small" fill="clear"
                  (click)="_deletePart('ADD', i)">
                  <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                </ion-button>
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('ADD')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <!-- <ion-item>
          <div class="form-group">
            <label>Add Part Number</label>
            <ion-list lines="inset" style="padding: 0px;">
              <ng-container *ngIf="allData.partsAddArray.length > 0">
                <ion-item *ngFor="let part of allData.partsAddArray; let i = index;" style="padding: 0px;">
                  <ion-label>{{part.part_name}}</ion-label>
                  <ion-button size="small" fill="clear" (click)="_deletePart('ADD', i)">
                    <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                  </ion-button>
                </ion-item>
              </ng-container>
              <ion-item style="padding: 0px;">
                <input type="text" class="form-control input-lg" placeholder="Enter New Part Number & Description"
                  style="border: none; box-shadow: none;" [(ngModel)]="addPartName" name="addPartName" />
                <ion-button size="small" fill="clear" (click)="_addPartRow('ADD')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item> -->
        <ion-item>
          <div class="form-group">
            <label>Delete Part Number</label>
            <ion-list lines="inset" style="padding: 0px;">
              <ion-item *ngFor="let part of allData.partsModArray; let i = index;" style="padding: 0px;">
                <input type="text" #row1 class="form-control input-lg" placeholder="Enter New Part Number & Description"
                  style="border: none; box-shadow: none;padding: 0px;" [(ngModel)]="part.part_name"
                  [ngModelOptions]="{standalone: true}" />
                <ion-button *ngIf="part.part_name != ''" class="ion-no-padding" size="small" fill="clear" (click)="_deletePart('MOD', i)">
                  <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                </ion-button>
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('MOD')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <!-- <ion-item>
          <div class="form-group">
            <label>Delete Part Number</label>
            <ion-list lines="inset" style="padding: 0px;">
              <ng-container *ngIf="allData.partsModArray.length > 0">
                <ion-item *ngFor="let part of allData.partsModArray; let i = index;" style="padding: 0px;">
                  <ion-label>{{part.part_name}}</ion-label>
                  <ion-button size="small" fill="clear" (click)="_deletePart('MOD', i)">
                    <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                  </ion-button>
                </ion-item>
              </ng-container>
              <ion-item style="padding: 0px;">
                <input type="text" class="form-control input-lg" placeholder="Enter New Part Number & Description"
                  style="border: none; box-shadow: none;" [(ngModel)]="modPartName" name="modPartName" />
                <ion-button size="small" fill="clear" (click)="_addPartRow('MOD')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item> -->
        <ion-item>
          <div class="form-group">
            <label>Add Model Applicability</label>
            <ion-list lines="inset" style="padding: 0px;">
              <ion-item *ngFor="let model of allData.modelAppArray; let i = index;" style="padding: 0px;">
                <input type="text" #row3 class="form-control input-lg" placeholder="Add Model"
                  style="border: none; box-shadow: none;padding: 0px;" [(ngModel)]="model.model_name"
                  [ngModelOptions]="{standalone: true}" />
                <ion-button  class="ion-no-padding" *ngIf="model.model_name != ''" size="small" fill="clear" (click)="_deletePart('Model', i)">
                  <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                </ion-button>
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('Model')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Additional Fields</label>
            <ion-list lines="inset" class="ion-no-padding">
              <ion-item *ngFor="let field of allData.fieldsArray; let i = index;" class="ion-no-padding">
                <ion-row>
                  <ion-col size="6">
                    <select class="form-select form-select-sm" #row4 [id]="'row4'+i"
                      aria-label=".form-select-sm example" [(ngModel)]="field.field_id"
                      [ngModelOptions]="{standalone: true}" (change)="_onFieldChange(field.field_id, i, field)"
                      style=" box-shadow: none;">
                      <option selected value="">Select Field</option>
                      <option *ngFor="let item of allData.configValues;" [value]="item.LMF_ID">{{item.LMF_DESC}}
                      </option>
                    </select>
                  </ion-col>
                  <ion-col size="5">
                    <input class="form-control form-control-sm" type="text" [value]="field.value" id="field.value"
                      [(ngModel)]="field.value" [ngModelOptions]="{standalone: true}" placeholder="Enter Value"
                      style=" box-shadow: none;">
                  </ion-col>
                  <ion-col size="1">
                    <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('Field')">
                      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
      </ion-list>
    </form>
    <form style="padding-top: 20px;" *ngSwitchCase="'idea'">
      <ion-list lines="none">
        <ion-item>
          <div class="form-group">
            <label>IDEA Resource</label>
            <input type="text" class="form-control input-lg" placeholder="Enter IDEA Resource"
              [(ngModel)]="allData.ideaResource" name="ideaResource" />
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>IDEA Category</label>
            <ion-select mode="ios" interface="popover" placeholder="Select IDEA Category" [(ngModel)]="allData.idaCat"
              name="idaCat" (ionChange)="onChangeCat(allData.idaCat)">
              <ion-select-option *ngFor="let item of allData.ideacategoryArray" value="{{item.LMF_ID}}">
                {{item.LMF_DESC}}</ion-select-option>
            </ion-select>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>If Category is Other</label>
            <input type="text" class="form-control input-lg" placeholder="Enter If Category is Others"
              [(ngModel)]="allData.otherCat" name="otherCat" [disabled]="!allData.catBtn" />
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Sector<span style="color: red;">*</span></label>
            <ion-select mode="ios" interface="popover" placeholder="Select Sector" [(ngModel)]="allData.sector"
              name="sector" (ionChange)="callthis(allData.sector)">
              <ion-select-option *ngFor="let item of allData.sectorsArray" value="{{item.LMF_DESC}}">{{item.LMF_DESC}}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Vehicle Platform<span style="color: red;">*</span></label>
            <ion-select mode="ios" interface="popover" [(ngModel)]="allData.vehiclePlt" name="vehiclePlt"
              [disabled]="allData.sector.length == 0" placeholder="Select Vehicle Platform">
              <ion-select-option *ngFor="let item of allData.vehPlatformsArray" value="{{item.LMF_ID}}">
                {{item.LMF_DESC}}</ion-select-option>
            </ion-select>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Mobile Number<span style="color: red;">*</span></label>
            <input type="number" class="form-control input-lg" placeholder="Enter Mobile Number"
              [(ngModel)]="allData.mobileNumber" name="mobileNumber"
              onKeyPress="if(this.value.length==10) return false;"
              (keyup)="allData.mobileNumber = mobValidation(allData.mobileNumber)" autocomplete="off" />
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Applicable System</label>
            <ion-select mode="ios" interface="popover" [(ngModel)]="allData.appSys" name="appSys"
              [disabled]="allData.sector.length == 0" placeholder="Select Applicable System">
              <ion-select-option *ngFor="let item of allData.systemArray" value="{{item.LMF_ID}}">{{item.LMF_DESC}}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-item>
        <br />
        <br />
        <br />
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-no-border" mode="ios" *ngIf="allData.showEditContainer == true">
  <ion-toolbar color="primary">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding ion-text-center" style="border-left: 1px solid #fff;">
        <ion-button size="small" (click)="_submit()" [disabled]="
        (allData.ideaDesc == undefined || allData.ideaDesc == '') ||
          (allData.mobileNumber == undefined || allData.mobileNumber == '') ||
          (allData.sector == undefined || allData.sector == '') || 
            (allData.vehiclePlt == undefined || allData.vehiclePlt == '')">SUBMIT</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>