<ion-tabs #tabs (ionTabsWillChange)="gets(tabs)">

  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="tab1">
      <ion-icon name="create-outline" style="font-weight: bold;"></ion-icon>
      <ion-label style="font-weight: bold;">Create IDEA</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" (click)="openSideMenu()" *ngIf="showSearchtab == true">
      <ion-icon name="search-outline" style="font-weight: bold;"></ion-icon>
      <ion-label style="font-weight: bold;">Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
