<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">
      Search IDEA
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="heroService.logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="isIos == true">
  <ion-header *ngIf="allData.showHeader == true" class="ion-no-padding" mode="md">
    <ion-toolbar color="tertiary" class="ion-no-padding" style="height: 45px;padding: 15px 0px;">
      <p style="color: #2c5364;font-weight: 500; margin-left: 10px;margin-top: -33px; margin-bottom: 0px;">Records
        Found:
        Saved {{allData.savedCount}} / Submitted {{allData.submittedCount}}</p>
      <ion-icon name="close" slot="primary" color="primary" (click)="closeHeader()"
        style="margin-top: -45px;margin-right: 10px; font-size:20px;font-weight: 500;"></ion-icon>
    </ion-toolbar>
  </ion-header>
</ng-container>
<ng-container *ngIf="isIos == false">
  <ion-header *ngIf="allData.showHeader == true" class="ion-no-padding" mode="md">
    <ion-toolbar color="tertiary" class="ion-no-padding" style="height: 30px;">
      <p style="color: #2c5364;font-weight: 500; margin-left: 10px;margin-top: -25px; margin-bottom: 0px;">Records
        Found:
        Saved {{allData.savedCount}} / Submitted {{allData.submittedCount}}</p>
      <ion-icon name="close" slot="primary" color="primary" (click)="closeHeader()"
        style="margin-top: -25px;margin-right: 10px; font-size:20px;font-weight: 500;"></ion-icon>
    </ion-toolbar>
  </ion-header>
</ng-container>
<ion-content [fullscreen]="true">

  <ng-container *ngIf="allData.ideaListArray.length == 0">
    <ion-card style="border-radius: 15px;">
      <ion-card-content>
        Oops...No IDEA Found!!
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="allData.ideaListArray.length > 0">
    <ion-card *ngFor="let item of allData.ideaListArray" style="border-radius: 15px;"
      [ngClass]="{'submittedCard': item.IID_STATUS[0] === 'Submitted' }">
      <ion-row>
        <ion-col size="8" style="padding-top: 10px;">
          <ion-title class="ion-text-left" color="primary" mode="md">{{item.IID_REQUEST_ID[0]}}</ion-title>

        </ion-col>
        <ion-col class="ion-no-padding ion-text-right" size="4">
          <ion-button size="large" fill="clear" (click)="_showDetails(item)" class="ion-no-padding"
            style="padding-right: 10px; margin-top: -5px;">
            <ion-icon slot="icon-only" name="create-outline" color="primary"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-card-content style="margin-top: -20px;">
        <ion-row>
          <ion-col size="8" style="padding-top: 10px;">
            <p style="font-size:15px">{{item.IID_IDEA_DESCRIPTION[0]}}</p>
          </ion-col>
          <ion-col class="ion-no-padding ion-text-right" size="4">
            <div style="position: absolute;bottom: 0px;width: 100%;">
              <ion-button fill="clear" color="primary" class="ion-no-padding" style="font-size: 16px;">
                {{item.IID_CREATED_ON[0] | date:'mediumDate'}}
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>