.form-group {
    padding: 8px;
    border: 1px solid #b2c0c6;
    border-radius: 5px;
    margin: 8px;
    width: 100%;
}
.form-group > label {
    position: absolute;
    top: -1px;
    left: 20px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    color: #2c5364;
}

.form-group > input {
    border: none;
}
.form-group > textarea {
    border: none;
}
// .topDiv {
//     position: fixed;
//     top: 0px;
//     width: 100%;
//     background: white;
// }
.bottmDiv {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
}

ion-item {
    padding-bottom: 8px;
}

ion-select {
    max-width: 100%;
    width: 100%;
    // margin-left: 33%;
}

.form-control[readonly] {
    background-color: #ffffff;
    // opacity: 1;
}
