<input id="uploadBtn"
  accept="image/*, .pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  type="file" multiple [(ngModel)]="fileTextValueFinal" name="file[]" [ngModelOptions]="{standalone: true} "
  (change)="_fileBrowseHandlerFinal($event.target)" style="position:absolute; top:-100px;">
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="allData.showSearchMenu == true">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">
      New IDEA Generation
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="heroService.logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="bar-light bar-subheader" mode="ios">
    <ion-segment [(ngModel)]="section" (ionChange)="segmentChanged($event)" mode="ios">
      <ion-segment-button value="desc">
        <ion-label>Description</ion-label>
      </ion-segment-button>
      <ion-segment-button value="add">
        <ion-label>Add File & Parts</ion-label>
      </ion-segment-button>
      <ion-segment-button value="idea">
        <ion-label>IDEA Details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-no-padding">

  <div [ngSwitch]="section">
    <form style="padding-top: 20px;" *ngSwitchCase="'desc'">
      <ion-list lines="none">
        <ion-item>
          <div class="form-group">
            <label>Request Number</label>
            <input type="text" class="form-control input-lg" [(ngModel)]="allData.requestNumber" name="requestNumber"
              disabled />
          </div>
        </ion-item>
        <!-- <ion-item>
          <div class="form-group">
            <label>IDEA Title<span style="color: red;">*</span></label>
            <input type="text" class="form-control input-lg" [(ngModel)]="allData.ideaTitle" name="ideaTitle"
              placeholder="Enter IDEA Title" />
          </div>
        </ion-item> -->
        <ion-item>
          <div class="form-group">
            <label>IDEA Description<span style="color: red;">*</span></label>
            <textarea rows="3" type="text" class="form-control input-lg" [(ngModel)]="allData.ideaDesc" name="ideaDesc"
              placeholder="Enter IDEA Description"></textarea>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Approx. Savings (RS./Veh)</label>
            <!-- (keypress)="return (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode == 8 || event.keyCode == 190 || event.keyCode == 110) ? true : false" -->
            <!-- (keyup)="allData.approxSavings = checkValidation(allData.approxSavings, $event)" -->
            <input type="number" class="form-control input-lg" [(ngModel)]="allData.approxSavings" name="approxSavings"
              placeholder="Enter Approx. Savings (RS./Veh)" />
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Approx. Weight Reduction</label>
            <input type="text" class="form-control input-lg" [(ngModel)]="allData.approxWeight" name="approxWeight"
              placeholder="Approx. Weight Reduction" />
          </div>
        </ion-item>

      </ion-list>
    </form>
    <form style="padding-top: 20px;" *ngSwitchCase="'add'">
      <ion-list lines="none">
        <ion-item>
          <div class="form-group">
            <label>Attach Files</label>
            <ion-list lines="inset" class="ion-no-padding">
              <ng-container *ngIf="allData.filesArray.length > 0">
                <ion-item *ngFor="let file of allData.filesArray; let i = index;">
                  <ion-row>
                    <ion-col size="10" class="ion-no-padding">
                      <ion-label>{{file.file_name}}</ion-label>
                    </ion-col>
                    <ion-col size="1" class="ion-no-padding">
                      <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_deleteFile(i)">
                        <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                      </ion-button>
                    </ion-col>
                    <ion-col size="1" class="ion-no-padding">
                      <ion-button *ngIf="file.prm_key != undefined" class="ion-no-padding" size="small" fill="clear"
                        (click)="_downloadFile(file)">
                        <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ng-container>
              <ion-item class="ion-no-padding">
                <input type="text" class="form-control input-lg" placeholder="Attach Files"
                  style="border: none;box-shadow: none;" readonly />
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_openModalXlsx(uploadFileModal)">
                  <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Add Part Number</label>
            <ion-list lines="inset" class="ion-no-padding">
              <ion-item *ngFor="let part of allData.partsAddArray; let i = index;">
                <input type="text" #row class="form-control input-lg" placeholder="Enter New Part Number & Description"
                  style="border: none;box-shadow: none; padding: 0px;" [(ngModel)]="part.part_name"
                  [ngModelOptions]="{standalone: true}" />
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_deletePart('ADD', i)"
                  *ngIf="part.part_name != ''">
                  <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                </ion-button>
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('ADD')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <!-- <ion-item>
          <div class="form-group">
            <label>Add Part Number</label>
            <ion-list lines="inset" class="ion-no-padding">
              <ng-container *ngIf="allData.partsAddArray.length > 0">
                <ion-item *ngFor="let part of allData.partsAddArray; let i = index;">
                  <ion-label>{{part.part_name}}</ion-label>
                  <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_deletePart('ADD', i)">
                    <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                  </ion-button>
                </ion-item>
              </ng-container>
              <ion-item class="ion-no-padding">
                <input type="text" class="form-control input-lg" placeholder="Enter New Part Number & Description"
                  style="border: none;box-shadow: none;" [(ngModel)]="addPartName" name="addPartName" />
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('ADD')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item> -->
        <ion-item>
          <div class="form-group">
            <label>Delete Part Number</label>
            <ion-list lines="inset" class="ion-no-padding">
              <ion-item *ngFor="let part of allData.partsModArray; let i = index;">
                <input type="text" #row1 class="form-control input-lg" placeholder="Enter New Part Number & Description"
                  style="border: none;box-shadow: none; padding: 0px;" [(ngModel)]="part.part_name"
                  [ngModelOptions]="{standalone: true}" />
                <ion-button *ngIf="part.part_name != ''" class="ion-no-padding" size="small" fill="clear"
                  (click)="_deletePart('MOD', i)">
                  <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                </ion-button>
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('MOD')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <!-- <ion-item>
          <div class="form-group">
            <label>Delete Part Number</label>
            <ion-list lines="inset" class="ion-no-padding">
              <ng-container *ngIf="allData.partsModArray.length > 0">
                <ion-item *ngFor="let part of allData.partsModArray; let i = index;">
                  <ion-label>{{part.part_name}}</ion-label>
                  <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_deletePart('MOD', i)">
                    <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                  </ion-button>
                </ion-item>
              </ng-container>
              <ion-item class="ion-no-padding">
                <input type="text" class="form-control input-lg" placeholder="Enter New Part Number & Description"
                  style="border: none;box-shadow: none;" [(ngModel)]="modPartName" name="modPartName" />
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('MOD')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item> -->
        <ion-item>
          <div class="form-group">
            <label>Add Model Applicability</label>
            <ion-list lines="inset" class="ion-no-padding">
              <ion-item *ngFor="let model of allData.modelAppArray; let i = index;">
                <input type="text" #row3 class="form-control input-lg" placeholder="Add Model"
                  style="border: none;box-shadow: none;padding: 0px;" [(ngModel)]="model.model_name"
                  [ngModelOptions]="{standalone: true}" />
                <ion-button *ngIf="model.model_name != ''" class="ion-no-padding" size="small" fill="clear"
                  (click)="_deletePart('Model', i)">
                  <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                </ion-button>
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('Model')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <!-- <ion-item>
          <div class="form-group">
            <label>Add Model Applicability</label>
            <ion-list lines="inset" class="ion-no-padding">
              <ng-container *ngIf="allData.modelAppArray.length > 0">
                <ion-item *ngFor="let model of allData.modelAppArray; let i = index;">
                  <ion-label>{{model.model_name}}</ion-label>
                  <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_deletePart('Model', i)">
                    <ion-icon slot="icon-only" name="close-outline" style="color: red;"></ion-icon>
                  </ion-button>
                </ion-item>
              </ng-container>
              <ion-item class="ion-no-padding">
                <input type="text" class="form-control input-lg" placeholder="Add Model"
                  style="border: none;box-shadow: none;" [(ngModel)]="addModelName" name="addModelName" />
                <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('Model')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-item> -->
        <ion-item>
          <div class="form-group">
            <label>Additional Fields</label>
            <ion-list lines="inset" class="ion-no-padding">
              <ion-item *ngFor="let field of allData.fieldsArray; let i = index;" class="ion-no-padding">
                <ion-row>
                  <ion-col size="6">
                    <select class="form-select form-select-sm" #row4 [id]="'row4'+i"
                      aria-label=".form-select-sm example" [(ngModel)]="field.field_id"
                      [ngModelOptions]="{standalone: true}" (change)="_onFieldChange(field.field_id, i, field)"
                      style="box-shadow: none;">
                      <option selected value="">Select Field</option>
                      <option *ngFor="let item of allData.configValues;" [value]="item.LMF_ID">{{item.LMF_DESC}}
                      </option>
                    </select>
                  </ion-col>
                  <ion-col size="5">
                    <input class="form-control form-control-sm" type="text" [value]="field.value" id="field.value"
                      [(ngModel)]="field.value" [ngModelOptions]="{standalone: true}" placeholder="Enter Value"
                      style="box-shadow: none;">
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding">
                    <ion-button class="ion-no-padding" size="small" fill="clear" (click)="_addPartRow('Field')">
                      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
      </ion-list>
    </form>
    <form style="padding-top: 20px;" *ngSwitchCase="'idea'">
      <ion-list lines="none">
        <ion-item>
          <div class="form-group">
            <label>IDEA Resource</label>
            <input type="text" class="form-control input-lg" placeholder="Enter IDEA Resource"
              [(ngModel)]="allData.ideaResource" name="ideaResource" />
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>IDEA Category</label>
            <ion-select mode="ios" interface="popover" placeholder="Select IDEA Category" [(ngModel)]="allData.idaCat"
              name="idaCat" (ionChange)="onChangeCat(allData.idaCat)">
              <ion-select-option *ngFor="let item of allData.ideacategoryArray" value="{{item.LMF_ID}}">
                {{item.LMF_DESC}}</ion-select-option>
            </ion-select>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>If Category is Other</label>
            <input type="text" class="form-control input-lg" placeholder="Enter If Category is Others"
              [(ngModel)]="allData.otherCat" name="otherCat" [disabled]="!allData.catBtn" />
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Sector<span style="color: red;">*</span></label>
            <ion-select mode="ios" interface="popover" placeholder="Select Sector" [(ngModel)]="allData.sector"
              name="sector" (ionChange)="callthis(allData.sector)">
              <ion-select-option *ngFor="let item of allData.sectorsArray" value="{{item.LMF_DESC}}">{{item.LMF_DESC}}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Vehicle Platform<span style="color: red;">*</span></label>
            <ion-select mode="ios" interface="popover" [(ngModel)]="allData.vehiclePlt" name="vehiclePlt"
              [disabled]="allData.vehPlatformsArray.length == 0" placeholder="Select Vehicle Platform">
              <ion-select-option *ngFor="let item of allData.vehPlatformsArray" value="{{item.LMF_ID}}">
                {{item.LMF_DESC}}</ion-select-option>
            </ion-select>
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Mobile Number<span style="color: red;">*</span></label>
            <!-- onKeyPress="if(this.value.length==10) return false;" -->
            <input type="number" class="form-control input-lg" placeholder="Enter Mobile Number"
              [(ngModel)]="allData.mobileNumber" name="mobileNumber"
              onKeyPress="if(this.value.length==10) return false;"
              (keyup)="allData.mobileNumber = mobValidation(allData.mobileNumber)" autocomplete="off" />
          </div>
        </ion-item>
        <ion-item>
          <div class="form-group">
            <label>Applicable System</label>
            <ion-select mode="ios" interface="popover" [(ngModel)]="allData.appSys" name="appSys"
              [disabled]="allData.systemArray.length == 0" placeholder="Select Applicable System">
              <ion-select-option *ngFor="let item of allData.systemArray" value="{{item.LMF_ID}}">{{item.LMF_DESC}}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">
    <ion-row class="ion-no-padding" *ngIf="allData.showSaveBtn == true">
      <ion-col class="ion-no-padding ion-text-center" style="border-right: 1px solid #fff;">
        <ion-button size="small" (click)="_save()"
          [disabled]="
            (allData.ideaDesc == undefined || allData.ideaDesc == '') || 
            (allData.sector == undefined || allData.sector == '') || 
            (allData.vehiclePlt == undefined || allData.vehiclePlt == '') || (allData.mobileNumber == undefined || allData.mobileNumber == '')">
          SAVE</ion-button>
      </ion-col>
      <ion-col class="ion-no-padding ion-text-center" style="border-left: 1px solid #fff;">
        <ion-button size="small" (click)="_submit()"
          [disabled]="
          (allData.ideaDesc == undefined || allData.ideaDesc == '') || 
          (allData.sector == undefined || allData.sector == '') || 
            (allData.vehiclePlt == undefined || allData.vehiclePlt == '') || (allData.mobileNumber == undefined || allData.mobileNumber == '')">SUBMIT
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding" *ngIf="allData.showSaveBtn == false">
      <ion-col class="ion-no-padding ion-text-center">
        <ion-button size="small" (click)="_submit()"
          [disabled]="
          (allData.ideaDesc == undefined || allData.ideaDesc == '') || 
          (allData.sector == undefined || allData.sector == '') || 
            (allData.vehiclePlt == undefined || allData.vehiclePlt == '') || (allData.mobileNumber == undefined || allData.mobileNumber == '')">SUBMIT
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ng-template #uploadFileModal let-modal>
  <div class="modal-header text-center"
    class="dcardHeader ideaHeaderColor text-center text-white text-capitalize text-bold-700 font-medium-1 align-middle">
    <h4 class="modal-title w-100 text-white " id="modal-basic-title ">Upload File</h4>
    <i class="fa fa-times " aria-hidden="true " title="Close "
      style="margin-top: -20px;cursor: pointer;margin-right: 10px; float: right; " (click)="_cancel() "></i>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row ">
        <div class="col-lg-12 ">
          <div class="row " style="display: block;">
            <!-- <div class="form-group"> -->
            <div class="uploadContainer w-100">
              <input
                accept="image/*, .pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                class='fileupldInput' type="file" [(ngModel)]="fileTextValueFinal"
                [ngModelOptions]="{standalone: true} " (change)="_fileBrowseHandlerFinal($event.target)">
            </div>
            <!-- _fileBrowseHandlerFinal($event.target.files) -->
            <p class="text-left " style="font-size: 0.8rem; ">
              Supported File Format :jpeg, jpg, png, doc, docx, pdf, xlsx, xls.
            </p>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>