<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">Welcome To IDEA Generation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="loginBg">
  <div class="warning">
    <div class="logo">
      <img src="assets/images/dummylogo.png">
    </div>
    <div class="sub_div">
      <form [formGroup]="loginForm" class="ion-padding" id="formBg">
        <div class="formDiv">
          <div class="form-group input-group">
            <span>
              <ion-icon class="iconC" name="person-circle-outline"></ion-icon>
            </span>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter User Name" formControlName="username" style="box-shadow: none;">
          </div>
          <br>
          <div class="form-group input-group">
            <span>
              <ion-icon class="iconC" name="lock-closed-outline"></ion-icon>
            </span>
            <input type="password" *ngIf="_visiblePass == false" class="form-control" id="exampleInputPassword1" placeholder="Enter Password"
              formControlName="password" style="box-shadow: none;">
            <input type="text" *ngIf="_visiblePass == true" class="form-control" id="exampleInputPassword1" placeholder="Enter Password"
              formControlName="password" style="box-shadow: none;">
            <span>
              <ion-icon class="iconR" *ngIf="_visiblePass == false" name="eye-off-outline" (click)="_showPassword()"></ion-icon>
              <ion-icon class="iconR" *ngIf="_visiblePass == true" name="eye-outline" (click)="_showPassword()"></ion-icon>
            </span>
          </div>
          <!--Check if supplier or mnm user-->
          <div class="row ion-no-padding">
            <div class="col-6 ion-no-padding">
              <div class="form-check form-check-inline radio-item">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" [(ngModel)]="whichUser"
                  name="whichUser" [ngModelOptions]="{standalone: true}" (change)="changeRadio()">
                <label for="inlineRadio1">Supplier</label>
              </div>
            </div>
            <div class="col-6 ion-no-padding">
              <div class="form-check form-check-inline radio-item">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" [(ngModel)]="whichUser"
                  name="whichUser" [ngModelOptions]="{standalone: true}" (change)="changeRadio()">
                <label for="inlineRadio2">M&M User</label>
              </div>
            </div>
          </div>
          <br>
          <!--Check if supplier or mnm user-->
          <ion-button expand="block" color="primary" size="large" (click)="_login()"
            [disabled]="whichUser == undefined">Login</ion-button>
        </div>
      </form>
    </div>
  </div>

</ion-content>