#loginBg {
    --background: url("../../../assets/images/loginBg.png");
}

#formBg {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/images/simplebg.png");
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: 100% 100%;
    // position: fixed;
}
.sub_div {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.formDiv {
    padding-top: 30px;
    // padding-bottom: 50px;
    padding-bottom: 30px;
}
// .warning {
//     position: absolute;
//     height: 100%;
//     width: 100%;
// }
.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 50%;
    height: 18%;
    margin: 25% auto 7px auto;
    text-align: center;

    img {
        height: 200px;
    }
}

.form-control {
    // padding: 25px 10px;
    border: none;
    // border: 1.5px solid #2c5364;
    font-size: 1.25rem;
}
input {
    border: none;
    // background-color: transparent;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.input-group {
    // border: 1px gray solid;
    border: 1.5px solid #2c5364;
    border-radius: 5px;
    padding: 0px;
    background-color: white;
}

.iconC {
    margin-top: 8px;
    margin-left: 5px;
    color: #2c5364;
    font-size: 28px;
}
.iconR {
    margin-top: 8px;
    margin-right: 8px;
    color: #2c5364;
    font-size: 28px;
}
.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }
  
  .radio-item input[type='radio'] {
    display: none;
  }
  
  .radio-item label {
    color: #2c5364;
    font-weight: bold;
    font-size: 1.25rem;
  }
  
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #2c5364;
    background-color: transparent;
  }
  
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: #2c5364;
  }

