<ion-split-pane contentId="main">
  <!--  the side menu  -->
  <ion-menu contentId="main" swipeGesture="false">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>IDEA Search Criteria</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #2c5364;">
      <!-- <ion-menu-toggle auto-hide="false" style="background-color: transparent;"> -->
      <ion-list lines="full" style="background: transparent;">
        <ion-item color="primary">
          <ion-label position="fixed">UID</ion-label>
          <ion-input type="text" style="text-align: right;" [(ngModel)]="allData.requestNumber" name="requestNumber"
            placeholder="Enter UID">
          </ion-input>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">IDEA Desc</ion-label>
          <ion-input type="text" style="text-align: right;" [(ngModel)]="allData.ideaDesc" name="ideaDesc"
            placeholder="Enter IDEA Desc">
          </ion-input>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">IDEA Category</ion-label>
       
          <ion-select mode="ios" placeholder="Select IDEA Category" [(ngModel)]="allData.idaCat" name="idaCat" interface="popover">
            <ion-select-option *ngFor="let item of allData.ideacategoryArray" value="{{item.LMF_ID}}">
              {{item.LMF_DESC}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">Sector</ion-label>
          <ion-select mode="ios" interface="popover" placeholder="Select Sector" [(ngModel)]="allData.sector" name="sector"
            (ionChange)="callthis(allData.sector)">
            <ion-select-option *ngFor="let item of allData.sectorsArray" value="{{item.LMF_DESC}}">{{item.LMF_DESC}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">Vehicle Platform</ion-label>
          <ion-select mode="ios" interface="popover" [(ngModel)]="allData.vehiclePlt" name="vehiclePlt"
            [disabled]="allData.vehPlatformsArray.length == 0" placeholder="Select Vehicle Platform">
            <ion-select-option *ngFor="let item of allData.vehPlatformsArray" value="{{item.LMF_ID}}">
              {{item.LMF_DESC}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">Applicable System</ion-label>
          <ion-select mode="ios" interface="popover"  [(ngModel)]="allData.appSys" name="appSys" [disabled]="allData.systemArray.length == 0"
            placeholder="Select Applicable System">
            <ion-select-option *ngFor="let item of allData.systemArray" value="{{item.LMF_ID}}">{{item.LMF_DESC}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">Requestor ID</ion-label>
          <ion-input type="text" style="text-align: right;" [(ngModel)]="allData.requestorId" name="requestorId"
            placeholder="Enter Requestor ID" [disabled]="allData.isAdmin == false">
          </ion-input>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">From Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD/MMM/YYYY" style="width: 100%;text-align: right;" [(ngModel)]="allData.fromDate"
            name="fromDate" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">To Date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD/MMM/YYYY" style="width: 100%;text-align: right;" [(ngModel)]="allData.toDate"
            name="toDate" placeholder="Select Date">
          </ion-datetime>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">Status</ion-label>
          <ion-select mode="ios" interface="popover"  [(ngModel)]="allData.status" name="status" placeholder="Select Status">
            <ion-select-option value="Saved">Saved</ion-select-option>
            <ion-select-option value="Submitted">Submitted</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">From UID</ion-label>
          <ion-input type="text" style="text-align: right;" [(ngModel)]="allData.fromUID" name="fromUID"
            placeholder="Enter UID">
          </ion-input>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="fixed">To UID</ion-label>
          <ion-input type="text" style="text-align: right;" [(ngModel)]="allData.toUID" name="toUID"
            placeholder="Enter UID">
          </ion-input>
        </ion-item>
        <br />
        <br />
        <br />
     
      </ion-list>
      <!-- </ion-menu-toggle> -->
      <div class="bottmDiv">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-no-padding" style="border-right: 1px solid #2c5364;">
              <ion-button expand="full" fill="clear" color="primary" (click)="_getSearchData('')">Search</ion-button>
            </ion-col>
            <ion-col class="ion-no-padding" style="border-left: 1px solid #2c5364;">
              <ion-button expand="full" fill="clear" color="primary" (click)="_clear()">Clear</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>